<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <p> © 2019 Let's Plant Inc. <i class="fas fa-carrot"></i></p>
  </div>
</div>
