
<div class="containerhome">
  <div>
    <div class="inner-container">
      <div class="inner-intro">
        <h2> Learn how to garden!</h2>
        <p> Keep track of your garden online</p>
        <div class="action">
             <%= link_to plants_path, {class: "bttn"} do %>
               Start to plant!
             <% end %>
        </div>
      </div>
    </div>
  </div>
