<div class="container-index-plants">
  <div class="cards-index">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant), {class: "card-over"} do %>
        <div class="card-category-index fade-in" style="background-image: url('<%= cl_image_path plant.logo_url %>')">
          <%= plant.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

