<h1>Let's Plant</h1>


<div class="cards">
  <% @plants.each do |plant| %>
    <%= link_to plants_show_path, {class: "card-over"} do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('<%= cl_image_path plant.photo_url %>')">
        <%= plant.name %>
      </div>
    <% end %>
  <% end %>
</div>

