
  <img class="img_cover" src="<%= cl_image_path @plant.photo_url %>" alt="">



    <div class="container-details">

      <h2><%= @plant.name.capitalize %></h2>
      <p><%= @plant.description %></p>

    </div>

    <div class="box">

      <h3><%= @plant.price %> CHF </h3>
      <div class="btn">Add to garden</div>

    </div>



