<div class="grass">
  <h1> MY GARDEN <%= image_tag "maybelogo.png", alt: "carrot", width: 100 %></h1>

  <div class="garden">
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
    <span class="plot"></span>
  </div>
</div>
