.banner-index {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-plants {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: grid;
  grid-template-columns: 45% auto;
  margin-bottom: 60px;
}

.banner-card-plants {
  background-size: cover;
  background-position: bottom;
  padding: 152px 0;
  align-self: stretch;
}
