.container-index-plants {
  background-color : white;
  padding: 0 200px;
}

.container-index-plants h1 {
  font-family : Comic Sans MS;
  color: #86c100;;
  font-size: 30px;
  text-align: justify;
  padding-bottom: 10px;
}

.container-index-plants p {
  font-family : Comic Sans MS;
  color: black;
  font-size: 25px;
  text-align: justify;
  padding-bottom: 60px;
}
