.container-form {
  width: 300px;
  background-color: #fff683;
  padding: 20px;
  box-shadow: inset 0px 0px 10px 0px #f58232;
  margin: 0 auto;
}


.btn {
  width: 100%;
  background-color: #aad159;
  color: white;
  border-radius: 6px;
  border: 1px solid white;
}

.btn:hover{
  background-color: white;
  transition: 0.5s background-color ease;
  color: #aad159;
  border: 1px solid #aad159;
}

.imageback{
  background-color: #ceffc8;
  background-size: cover;
  height: 100%;
  padding: 50px;
}

.container {
  width: 1400px;
  margin-top: 60px;
  min-height: 69vh;
}


