.container-form {
  width: 300px;
  background-color: #ffffffa1;
  padding: 20px;
  box-shadow: inset 0px 0px 10px 0px #9f7f597d;
  margin: 0 auto;
}


.btn {
  width: 100%;
  background-color: #e0c7a7;
  color: white;
  border-radius: 6px;
  border: 1px solid #926838;
}

.btn:hover{
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #926838;
  transition: 0.5s background-color ease;
  color: white;
  border: none;
}

.imageback{
  background-image: url('https://images.unsplash.com/photo-1471340620190-18627b679d58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60');
  background-size: cover;
  height: 100%;
  padding: 50px;
}

.container {
  width: 1400px;
  margin-top: 60px;
  min-height: 69vh;
}


