.obtn {
  background-color: #FF6666;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}
.obtn:hover {
  color: white;
  background-color: #468315;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  text-decoration: none;
}
.abtn {
  background-color: #65B891;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  position: center;
  margin-left: 30px;
}

.abtn:hover {
  color: white;
  background-color: #CDE77F;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  text-decoration: none;
}

.obbtn {

  background-color: #FF6666;
  color: white;
  border-radius: 3px;
  position: center;
  padding: 10px;
  width: 10%;

}

.obbtn:hover {
  color: white;
  background-color: #468315;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  text-decoration: none;
}

.bttn{
  width: 100%;
  background-color: #FF6666;
  color: white;
  border-radius: 6px;
  border: 1px solid #FF6666;
  margin-top: 50px;
  padding: 10px;
}
