.obtn {
  background-color: #FF6666;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
}
.obtn:hover {
  color: white;
  background-color: #1782a3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  text-decoration: none;
}
