.container-details{
  margin: 15px 0;
  padding: 20px;
  box-radius: 5px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.box{
  background-color: #dee2e6c4;
  padding: 20px;
  margin: 15px 0 15px 15px;
  box-shadow: 0px 0px 6px black ;
  position: absolute;
  top: 330px;
  left: 200px;
  width: 350px;
  border-radius: 3px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25) ;
}
.img_cover {
  position: relative;
}

.btn {
  background-color: #0093c4;
  color: white;
  width: 100%;
}
.btn:hover {
  color: white;
  background-color: #1782a3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
