.container-details{
  margin: 15px 0 15px 15px;
  box-shadow: 0px 0px 6px black ;
  border-radius: 10px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25) ;
  color: white;
}

.container3{
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  padding: 150px 0 15px 15px;
  margin: 15px 0 15px 15px;
}
.box p {
  margin-top: 20px;
}
.img_cover {
  background-color: #CEFFC8;
}

.img_cover h2{
  text-align: center;
  color: white;
}

.information_plant{
  background-color: #65b891;
  padding: 30px;
  margin: 15px 0 15px 15px;
  box-shadow: 0px 0px 6px black ;
  border-radius: 10px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25) ;
  color: white;
}

.image_show {
  display: flex;
  background-image: url("1469074_ime44w.svg");
  width: 250px;
  height: 250px;
  background-size: cover;
  margin-right: 200px;
}

.plant_description{
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 10px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25);
  padding: 35px;
  margin: 50px;

}
